h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 2px;
    text-align: left;
    line-height: 1.2em;
    padding-bottom: 12px;
    letter-spacing: normal;
    font-weight: 700;
    font-size: 38px;
}